
@{
    ViewBag.Title = "Tree";
}
@model  TranslatorBIB_RIS.Models.TreeTag

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/tree")

<div class="panel panel-primary">
    <div class="panel-heading panel-head container"><h3>Wybierz tagi</h3></div>
    <div id="frm-author" class="panel-body container">
        @using (Html.BeginForm())
        {

           
            <div class="tree">
               
               
              
                @for (int i = 0; i < Model.CheckValue.Count(); i++)
                {

                    <ul>
                       
                        <li>
                            <a href="#">
                               
                               
                                <label for=@i>
                                    
                                    @for (int x = 0; x < Model.CheckValue[i].Tag.Count(); x++)
                                    {
                                        @Html.HiddenFor(model => model.CheckValue[i].Tag)
                                        <strong> @Html.DisplayFor(model => model.CheckValue[i].Tag[x])</strong>
                                       
                                    }
                                   
                                    
                                    

                                </label>
                               
                            </a>
                            
                            <ul>
                                @for (int j = 0; j < Model.CheckValue[i].Value.Count(); j++)
                                {
                                    int k = 1 + j;
                                    @Html.HiddenFor(model => model.CheckValue[i].Value[j])
   
                                        <li>
                                            <a href="#">
                                               @*@Html.CheckBox(Model[i].Value[j], false, new { @class = "tree-checkbox node-item", @iid = i + "" + j })*@
                                               @Html.EditorFor(model => model.CheckValue[i].checkValue[j])
                                               @Html.DisplayFor(model => model.CheckValue[i].Value[j])
                                             </a>
                                        </li>
                                            
                                }

                            </ul>
                        </li>
                    </ul>
                }


                <ul>
                    <li>
                        <a href="#">
                            <label >
                                <strong>Strony</strong>
                            </label>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    
                                   Od @Html.TextBoxFor(model => model.Pages.StartPage, new { @type = "number", @min = "0", @Value = "" })
                                    
                                </a>
                              
                            </li>
                            <li>
                                  <a href="#">

                                    Do @Html.TextBoxFor(model => model.Pages.EndPage, new { @type = "number", @min = "0", @Value = ""  })

                                  </a>
                            </li>
                           
                        </ul>
                    </li>

                </ul>

            </div>


            <div class="form-group">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class="btn btn-success" id="btnSubmit" type="submit">
                        Filtruj
                    </button>
                </div>
            </div>
        }

    </div>
</div>

