@{
    var fileTex = ViewData["text"];
    var textFront = ViewData["text"];
    
}
@model List<TranslatorBIB_RIS.Models.BibContein >
<div class="jumbotron">
    <h1>Szybka konwersja</h1>
    <p class="lead">Wybierz plik w formacie BibTeX, a otrzymasz plik w formacie RIS i na odwrót</p>
    <p><a href="tu link bedzie" class="btn btn-success btn-lg">Konwertuj &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Wybierz plik źródłowy:</h2>
        
       
        @using (Html.BeginForm("Index",
                    "Home",
                    FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload File:</label>
            <input type="file" name="file" id="file"  accept="text/x-bibtex"/><br><br>
            <input type="submit" value="Upload File" />
            @*@fileTex*@
           <br><br>
                    
         }
        @ViewBag.Message
        @if (Model != null)
        {
            
            foreach (var bib in Model)
            {
                
               <p>Typ : @bib.bibType</p>
               <p>Klucz :@bib.bibKey</p>
            
                foreach (var tags in bib.bibTags)
                {
                    
                   <p>Tag: @tags</p>

                }
                foreach (var tags in bib.bibValues)
                {
                    
                    <p>Value: @tags</p>

                }

            }

        }
       



        <h2>Zawartość</h2>
        <p>Tu tabelkę trzeba z danymi z pliku zrobić</p>

    </div>
    <div class="col-md-4">
        <h2>Wybierz opcje filtrowania</h2>
        <p>checkbox'y w takim stylu</p>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info">
                <input type="checkbox"> Opcja 1
            </label>
            <label class="btn btn-info">
                <input type="checkbox"> Opcja 2
            </label>
            <label class="btn btn-info">
                <input type="checkbox"> Opcja 3
            </label>
        </div>
        <p><a class="btn btn-primary" href="">Filtruj</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pobierz swój plik wynikowy:</h2>
        <div class="col-md-4">
            <p><a class="btn btn-warning" href="">Pobierz plik w formacie BibTeX &raquo;</a></p>
            <p><a class="btn btn-warning" href="@Url.Action("DownloadRIS", "Home")">Pobierz plik w formacie RIS &raquo;</a></p>

        </div>
    </div>
</div>
